a {
  text-decoration: none;
  color: #f9f9f9;
}

.know_service_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.know_service_block_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.know_service_block_container p {
  text-align: start;
}

.know_service_block_icon {
  width: 18px;
  height: 18px;
  color: #9b9b9b;
  padding-left: 15px;
  padding-right: 15px;
}

.know_service_block_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #909090;
}

#know_service_title {
  width: 337px;
  height: 75px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #555555;
  margin-top: 52px;
}

.section_know_service {
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-container {
  width: 263.19px;
  height: 173.63px;
  margin: auto;
  margin-top: 35px;
}

.slide_img {
  width: 263.19px;
  height: 173.63px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 263.19px;
  height: 173.63px;
  background-position: center;
}

#pricing_plans_des {
  width: 273px;
  height: 29px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #909090;
  padding: 10px 0;
}

.section_pricing_plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  background-color: #f9f9f9;
  padding: 65px 0;
}

.pricing_plans_grid {
  display: grid;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 10px;
}

.pricing_why_globe {
  width: 207px;
  height: 121.71px;
  margin-right: 25px;
}

.pricing_why_text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: start;
}

#text_globe {
  width: 65px;
  height: 74px;
}

.pricing_why_text_em {
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
  color: #e1586d;
}

.pricing_why_reason {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.pricing_why_reason_member_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(2, 50px);
  width: 207px;
}

#text_member {
  width: 59px;
  height: 69px;
}

.pricing_why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp_pricing_content {
  display: flex;
  justify-content: flex-start;
  width: 207px;
}

.pricing_extra_service_grid {
  display: grid;
  gap: 10px;
}

.section_extra_service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.section_pricing_review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review_slide_container {
  width: 330px;
  height: 200px;
  z-index: -1;
}
@media (min-width: 1100px) {
  .know_service_block_container {
    justify-content: flex-start;
    align-items: center;
  }
  .section_extra_service {
    margin-bottom: 113px;
    margin-top: 50px;
  }
  .review_slide_container {
    width: 837px;
    height: 250px;
  }
  .pricing_extra_service_grid {
    gap: 31px;
    grid-template-columns: repeat(4, 275px);
    grid-template-rows: repeat(1, 348px);
    margin-top: 40px;
  }
  .pricing_why {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .pricing_why_reason_member_grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    width: auto;
  }
  #text_globe {
    width: 313px;
    height: 56px;
  }
  #text_member {
    width: 290px;
    height: 56px;
    margin-top: 60px;
  }
  .pricing_why_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 32px;
  }
  .pricing_why_text_em {
    font-size: 36px;
    line-height: 44px;
  }
  .pricing_why_globe {
    width: 376.03px;
    height: 221.09px;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .pricing_why_reason {
    flex-direction: column;
  }
  .pricing_plans_grid {
    margin-top: 20px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 215px);
    grid-template-rows: repeat(1, 460px);
  }
  #pricing_plans_des {
    width: 780px;
    height: 50px;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
  }
  .slide-container {
    width: 658px;
    height: 419px;
    margin: 0;
    margin-top: 35px;
  }
  .slide_img {
    width: 658px;
    height: 419px;
  }
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 658px;
    height: 419px;
    background-position: center;
  }
  .section_know_service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .know_service_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 56px;
  }
  .know_service_block_text {
    font-size: 24px;
  }
  #know_service_title {
    width: 492px;
    height: 74px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 51px;
    text-align: start;
    color: #555555;
  }
}
